<h1>Seu Perfil</h1>

{% if user.profile.avatar %}
    <img src="{{ user.profile.avatar.url }}" alt="Profile Avatar" style="max-height: 200px; max-width: 200px;">
{% else %}
    <p>Nenhum avatar enviado ainda.</p>
{% endif %}

<p>Nome: {{ user.first_name }} {{ user.last_name }}</p>
<p>E-mail: {{ user.email }}</p>
<p>Idade: {{ user.profile.get_age }}</p>
<p>Bio: {{ user.profile.bio }}</p>

<p>
    <a href="{% url 'profile_update' %}">Atualizar Perfil</a>
</p>

<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Sair</button>
</form>